@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --crimson-element: 353, 100%, 63%;
  --dark-element: 249, 16%, 18%;
  --light-element: 0, 0%, 86%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@layer base {
  :root {
  --radius: 0.5rem;
 }
}
